/*================*/
/* INITIAL STYLES */
/*================*/
body {
  margin: 0 !important;
  padding: 0;
  background-color: #eee;
  font-family: Arial, sans-serif;
}
table {
  border-spacing: 0;
  font-family: sans-serif;
}
td {
  padding: 0;
}
img {
  border: 0;
}
/*div[style*="margin: 16px 0"] {
    margin:0 !important;
}*/
.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.webkit {
  max-width: 620px;
  margin: 0 auto;
}

/*====================*/
/* ADDITIONAL STYLING */
/*====================*/
.pre-header {
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  font-weight: 300;
  letter-spacing: 1.2px;
}
table.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 620px;
  background: #fff;
}
.email-header {
  vertical-align: top;
  Margin: 3% 0 2% 0;
}
img.ks-logo {
  width: 30%;
}
a.header-nav {
  text-decoration: none;
  color: #000000;
  padding: 2%;
}
.main-image {
  Margin: 0 auto;
  width: 94%;
  max-width: 560px;
  height: auto;
}
.main-inner {
  padding: 10px;
}

/* single column layout*/
.one-column .contents {
  text-align: center;
  font-size: 0;
}
p.h1 {
  font-size: 28px;
  font-weight: 200;
}
a.shop {
  text-decoration: none;
  display: block;
  Margin: 10px;
}
.shop-btn {
  color: #ffffff;
  background-color: #000000;
  font-size: 22px;
  width: 58%;
  font-weight: 300;
  border: none;
  padding: 1%;
  Margin-bottom: 3%;
}
.btn-large-text {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 400;
}

/* two column w/ sidebar layout */
.right-sidebar {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 0;
  padding-top: 18px;
}
.right-sidebar .column {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.right-sidebar .left {
  max-width: 396px;
}
.right-sidebar .right {
  max-width: 196px;
}
a.social-links {
  display: inline;
  text-decoration: none;
}
p.h3 {
  font-size: 18px;
  font-weight: 300;
}
img.social-logos {
  height: 36px;
  margin: 0 5%;
}

/* three column layout */
.three-column {
  font-size: 0;
  background-color: #000000;
  color: #ffffff;
}
.three-column .column {
  width: 100%;
  display: inline-block;
  max-width: 200px;
  vertical-align: bottom;
  Margin: 10px 0;
}
td.inner {
  padding: 0;
}
a.footer {
  color: #ffffff;
}
td.text {
}
td.left-align {
  text-align: left;
  font-size: 10px;
  padding-left: 20px;
}
td.right-align {
  font-size: 9px;
  text-align: right;
}
